.home{
    padding-top: 40vh;
    height: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background: linear-gradient(to right, #ee9099 0%, #cc9940 100%);
    background-size: cover;

    &_name {
        font-size: 5rem;
        padding-bottom:  1rem;
        margin-bottom: 1rem ;
        border-bottom: 2px solid #fff;

        &-first {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}

