@import url("https://fonts.googleapis.com/css2?family=Phudu&family=Signika+Negative:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Phudu&family=Signika+Negative:wght@300;400;700&display=swap");
:root {
  --biggest-font-size: clamp(40px, 5.5vw, 7rem);
  --bigger-font-size: clamp(2.5rem, 3vw, 3.5em);
  --small-font-size: clamp(1.8rem, 2vw, 2rem);
  --h2-font-size: clamp(2rem, 3vw, 7rem);
  /* -------------------------------- */
  --primary-color: rgba(239, 239, 239, 0.948);
  --bg-brown: #412b2b;
  --deep-purple: rgb(225, 0, 255);
  --light-blue: rgb(46, 151, 244);
  --secondary-color: #000;
  --primary-dark-green: #2461525b;

  /* --------------------------------- */
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: "Phudu", cursive;
  font-family: "Signika Negative", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

section {
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: rgb(217, 199, 178);
  transition: 0.1s all ease-in;
  -webkit-transition: 0.1s all ease-in;
  -moz-transition: 0.1s all ease-in;
  -ms-transition: 0.1s all ease-in;
  -o-transition: 0.1s all ease-in;
}

/* ================ Navbar ================ */
#navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
}

#navbar nav,
#navbar nav ul {
  display: flex;
  align-items: center;
}

#navbar nav ul a {
  color: var(--light-blue);
}

#navbar nav {
  height: 70px;
  background-color: transparent;
  justify-content: space-between;
}

#navbar nav ul {
  width: 50%;
  justify-content: space-evenly;
}

#navbar > nav > div {
  display: none;
}

@media (max-width: 500px) {
  #navbar nav ul.desktop {
    position: absolute;
    list-style: none;
    flex-direction: column;
    left: 100%;
    margin-top: 650px;
    width: 100%;
    height: 70vh;
    background-color: aliceblue;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
  }

  #navbar nav ul.active {
    position: absolute;
    list-style: none;
    flex-direction: column;
    left: 0;
    margin-top: 650px;
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
  }

  #navbar > nav > div {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

#landing-page,
#projects,
#contact,
#about {
  min-height: 100vh;
}
/* ================ first page==================== */
#home {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px 20px 10px;
}

#landing-page {
  padding-top: 80px;
  padding-bottom: 40px;
}
#landing-page > * {
  padding-bottom: 30px;
}

#landing-page .hi {
  position: relative;
  font-size: var(--biggest-font-size);
  animation: color-change 5.5s infinite;
  -webkit-animation: color-change 5.5s infinite;
}
#landing-page > p.hi > span {
  font-size: var(--bigger-font-size);
}

#landing-page > p:nth-child(2) {
  font-size: var(--biggest-font-size);
}

#landing-page > p:nth-child(3) {
  text-align: justify;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  line-height: 40px;
  max-width: 90%;
  margin-bottom: 50px;
}

@keyframes color-change {
  0% {
    color: rgba(255, 0, 0, 0.798);
  }
  25% {
    color: rgb(255, 119, 0);
  }
  50% {
    color: rgb(104, 38, 49);
  }
  75% {
    color: rgb(104, 38, 49);
  }
  100% {
    color: rgba(0, 0, 255, 0.434);
  }
}

#home .download {
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}

#home .download::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
  -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -moz-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -ms-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -o-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -webkit-filter: blur(1em);
}

#home .download::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
}

#home .download:hover,
#home .download:focus {
  color: hsl(323 21% 16%);
  text-shadow: none;
}

#home .download:hover::before,
#home .download:focus::before {
  opacity: 1;
}
#home .download:hover::after,
#home .download:focus::after {
  opacity: 1;
}

/* ---------------------------------------- */
@media (max-width: 760px) {
  section {
    height: initial !important;
  }
  #home {
    display: flex;
    flex-direction: column;
    /* padding-top: 15px; */
  }

  #landing-page {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media (max-width: 565px) {
  #landing-page > * {
    padding-bottom: 20px;
  }
}

@media (max-width: 355px) {
  #home {
    padding-top: 45px;
  }
  #landing-page {
    padding-top: 60px;
  }

  #landing-page > * {
    padding-bottom: 5px;
  }
}

/* --------- About section ----------------- */
#about {
  padding-bottom: 50px;
  margin-top: 30px;
}

#about .about_headings {
  text-align: center;
  padding-bottom: 5%;
}

#about .about_headings img {
  padding-top: 20px;
}

#about .about-me {
  text-align: justify;
  font-size: clamp(1rem, 2vw, 2.5rem);
  line-height: 50px;
}

#about .about-me p:first-child {
  font-weight: 400;
  line-height: 65px;
}

#about p:last-child {
  text-transform: uppercase;
  color: var(--light-blue);
  font-weight: 700;
}

@media screen and (max-width: 520px) {
  #about .about-me > p:first-child {
    line-height: 40px;
  }

  #about .about-me p:last-child {
    line-height: normal;
    padding-top: 18px;
  }
}
/* -------- Projects page----------------- */
#projects {
  text-align: center;
  margin-top: 70px;
}

#projects a:focus {
  outline: none;
}

#projects .project {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
}

#projects .project > div {
  text-align: center;
  margin: 15px;
  max-width: 20rem;
  overflow: hidden;
  background-color: var(--primary-dark-green);
}
#projects > div > div {
  transition: transform 0.2s ease-out;
}
#projects > div > div:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

#projects > div > div > div:nth-child(3) > div {
  padding: 10px 10px 5px 0;
}

#projects > div > div > div:nth-child(3) > div > a.css-6umlpd {
  padding: 0;
}

#projects > div > div > div:nth-child(2),
#projects > div > div:nth-child(1) > div:nth-child(3) > div {
  padding: 10px;
}

#projects > div > div > div > div > a {
  padding: 5px;
  color: var(--light-blue);
}
#projects
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > a:nth-child(1)
  > svg {
  width: 25px;
}

/* --------------------------- */
@media (max-width: 961px) {
  #projects {
    padding-top: 50px;
    min-height: 100vh;
  }
  #projects .project {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 650px) {
  #projects .project {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/* -------- Contact section------------------- */
#contact {
  padding: 10%;
  text-align: center;
}

#contact > h2,
#contact form div {
  padding-bottom: 20px;
}

/* email and message input fields */
#contact > form {
  display: flex;
  flex-direction: column;
}

#email,
#message {
  /* background-color: transparent; */
  border: 1px solid var(--light-blue);
  padding: 10px;
  outline: none;
  margin-bottom: 30px;
}

#email {
  min-height: 30px;
  font-family: inherit;
}

#message {
  min-height: 40vh;
}

#email::placeholder,
#message::placeholder {
  color: rgb(81, 58, 58);
}

#email:focus,
#message:focus {
  background-color: var(--light-blue);
  border: 1.5px dashed rgb(207, 230, 173);
}

#contact > form > button {
  width: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  outline: none;
  border: none;
}

#contact > form > button:hover {
  background-color: #052305;
  color: rgb(184, 218, 248);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

/* contact icons */
#contact > div > * {
  margin: 20px;
}

#contact > div > a > svg:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

/* ========================= */
#globalLoader {
  position: fixed;
  z-index: 90;
  background-color: rgb(7, 7, 7);
  width: 100vw;
  height: 100vh;
}

/* ============================ */

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#loader .typewriter {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
