@import url("https://fonts.googleapis.com/css2?family=Phudu&family=Signika+Negative:wght@300;400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Phudu", cursive;
  scroll-behavior: smooth;
}

:root {
  --base-green: #233d1e;
  --dark-green: #1d3319;
  --pry-blue: rgb(49, 120, 210);
}

* {
  box-sizing: border-box;
}

body {
  background: white;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: url("../public/custom-cursor.png"), auto;
}

.main {
  padding-top: 60px;
}

#home,
#contact,
#about,
#projects {
  background: var(--dark-green);
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 46px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

/* -----home--------- */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  p {
    max-width: 900px;
    font-size: 28px;
    line-height: 40px;
  }
}

.download {
  font-size: 1.5rem;
  display: inline-block;

  text-decoration: none;
  color: var(--pry-blue);
  border: var(--pry-blue) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--pry-blue), 0 0 0.5em 0 var(--pry-blue);
  position: relative;
  transition: transform 300ms linear;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}

.download::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--pry-blue);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
  -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -moz-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -ms-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -o-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  -webkit-filter: blur(1em);
}

.download::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--pry-blue);
  opacity: 0;
  background-color: var(--pry-blue);
  z-index: -1;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.download:hover,
.download:focus {
  transform: scale(1.15);
  color: hsl(321, 67%, 78%);
  text-shadow: none;
}

.download:hover::before,
.download:focus::before {
  opacity: 1;
}

.download:hover::after,
.download:focus::after {
  opacity: 1;
}

/* --------- */

/* ----navbar----- */

.nav-bar {
  background-color: var(--dark-green);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  z-index: 2; /* Ensure the menu icon is above the nav-links */
}

.nav-link {
  margin-right: 40px;
  font-size: 20px;
  font-family: var(--title-font);
  cursor: url("../public/custom-cursor.png"), auto !important;
}

.nav-link:hover {
  color: var(--pry-blue);
}

@media (max-width: 760px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0; /* Set background color for mobile dropdown */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ensure nav-links are below the menu icon */
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .menu-icon {
    display: block;
  }
}

/* project */
.project {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin: 0 auto;

  div {
    background-color: red;
  }
}

/* contact */
/* -------- Contact section------------------- */
#contact {
  padding: 10%;
  text-align: center;
}

#contact > h2,
#contact form div {
  padding-bottom: 20px;
}

/* email and message input fields */
#contact > form {
  display: flex;
  flex-direction: column;
}

#email,
#message {
  /* background-color: transparent; */
  border: 1px solid var(--light-blue);
  padding: 10px;
  outline: none;
  margin-bottom: 30px;
}

#email {
  min-height: 30px;
  font-family: inherit;
}

#message {
  min-height: 40vh;
}

#email::placeholder,
#message::placeholder {
  color: rgb(81, 58, 58);
}

#email:focus,
#message:focus {
  border: 1.5px dashed rgb(207, 230, 173);
}

#contact > form > button {
  width: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  outline: none;
  border: none;
}

#contact > form > button:hover {
  background-color: #052305;
  color: rgb(184, 218, 248);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

/* contact icons */
.social_icons .socials {
  margin: 20px;
  cursor: pointer !important;
}

.social_icons .socials svg:hover {
  scale: 1.15;
  color: rgb(184, 218, 248);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

/* splash screen */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-content {
  color: white;
  font-size: 2rem;
}
